.nav-links li:nth-child(1) {
    opacity: 40%;
}

.nav-links li:nth-child(1):hover {
    opacity: 100%;
}

.nav-links li:nth-child(2) {
    opacity: 100%;
}

.nav-links li:nth-child(3) {
    opacity: 40%;
}

.nav-links li:nth-child(3):hover {
    opacity: 100%;
}

.title {
    font-weight: 700;
}

.authors {
    font-style: oblique;
}

.link {
    display: block;
}

section li {
    list-style: none;
}

span.title {
    display: inline-block;
}